{% extends 'base.html.twig' %}

{% block title %}Refuge de St Brès pour équidés{% endblock %}

{% block banner %}
    <div class="banner">
        <img src="{{ asset('images/Banner.webp') }}" alt="Refuge Banner">
    </div>
{% endblock %}

{% block main %}

    <h1>Bienvenue au refuge de Saint Brès</h1>

    <div class="block">
        <img src="{{ asset('images/Photo.webp') }}" alt="home_picture" class="picture" />

        <div class="description">

            <h3>Les présentations sont de mise</h3>
            <br><br>

            <p>Le refuge de Saint Brès pour équidés a été créé en décembre 2020 par Sophie et Julien.
            <br><br>
            À ce moment, cela faisait déjà 9 ans que notre petite famille accompagnait des équidés en fin de vie. Après avoir eu 
            l'opportunité d'acheter des terres sur la commune de Saint-Brès, nous avons souhaité donner de notre temps,
            de notre personne et de notre énergie pour créer le refuge.
            <br><br>
            Cette action est menée car nous sommes forcés de constater qu'il y a bien des manquements au niveau de la fin de vie des équins.
            En effet, qu'ils soient issus de réformes de clubs, de particuliers ou de maltraitance, la prise en charge des vieux équidés
            n'intéresse que trop peu de monde.
            <br><br>
            Il est certain qu'un vieux cheval n'a plus les mêmes performances, ne procure plus le même travail ni le même plaisir,
            ne rend plus les mêmes services et, bien entendu, coûte bien plus cher en frais vétérinaires. 
            Pourtant, ils ont encore tant de choses à vivre , de l'amour à donner et ce sont eux qui nous touchent !
            <br><br>
            De notre point de vue, la fin de vie des équidés doit se faire dans de bonnes conditions, avec de bons soins, un encadrement 
            et un cadre de vie adapté à leurs besoins fondamentaux, sachant qu'ils ont encore tant de choses à partager avec nous pour leur
            dernier instant de vie.
            <br><br>
            Nous avons démarré avec 4 chevaux sur site et nous en comptons actuellement 27. Les demandes de prise en charge affluent et nous ne pouvons
            pas répondre favorablement à chacune d'entre elles afin de préserver le bien-être de ceux actuellement sous notre responsabilité.
            L'idéologie qui est la nôtre est qu'un équidé pris en charge par le refuge ne sera pas replacé et finira sa vie à nos côtés afin de lui 
            assurer une fin heureuse et digne.
            <br><br>
            C'est pourquoi le refuge de Saint Brès a vocation de s'agrandir d'ores et déjà dans une démarche d'évolution.
            <br><br>
            Le financement du refuge se fait actuellement uniquement par le biais des dons et de quelques activités et événements que nous réalisons
            au profit des équidés. Cependant, les charges augmentent de manière exponentielle et, de ce fait, toute aide est la bienvenue.
            <br><br>
            De plus, le Refuge de St Brès est reconnu d'intérêt général ; vous pouvez déduire de vos impôts 66 % du montant versé.
            <br><br>
            Nous restons à votre disposition pour toutes demandes d'informations complémentaires.
            </p>

        </div>
    </div>

{% endblock %}
