    <h1>Nouvelle demande de bénévolat</h1>
    <p>Un nouvel utilisateur a demandé à devenir bénévole.</p>
    <p>Nom : {{ user.lastName }}</p>
    <p>Prénom: {{ user.firstName }}</p>
    <p>Email : {{ user.email }}</p>
    <!-- Ajoutez d'autres informations pertinentes ici -->