{% extends 'base.html.twig' %}

{% block title %}Refuge de St Brès pour équidés{% endblock %}


{% block main %}

    <div class="banner">
        <img src="{{ asset('images/upcomingPorject.webp') }}" alt="Refuge waiting content">
    </div>

{% endblock %}
