{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="btns">
        <button class="btnV">{{ button_label|default('Réserver') }}</button>

        <button class="btnR" id="btnBackToVolunteer">Retour au calendrier des bénévoles</button>
    </div>
    
{{ form_end(form) }}


